    <div class="footer">
        <div class="footer-top">
            <div class="footer-content">
                <div class="row w-100">
                    <div class="col-3 footer-text">
                        <h3></h3>
                        <ul>
                            <li>Bui Tien Dai</li>
                            <li>buitiendai111@gmail.com</li>
                            <li>0397818201</li>
                        </ul>
                    </div>
                    <div class="col-6 footer-text">
                        <h3>Về chúng tôi</h3>
                        <ul>
                            <li>Lào Cai:002 Kim Hoa, Kim Tân , Lào Cai</li>
                            <li>
                            <li>Hotline: 012.345.6789 | 098.765.4321</li>
                        </ul>
                    </div>
                    <div class="col-3 footer-text pe-0">
                        <h3>Dịch vụ</h3>
                        <ul>
                            <li>24/7 hỗ trợ học sinh</li>
                            <li>Hướng dẫn sử dụng trang</li>
                            <li>Điều khoản sử dụng trang</li>
                            <li>Email: so1laocai@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© Powered by <span>Truong So 1 Lao Cai</span></p>
        </div>
    </div>