    <div class="footer">
        <div class="footer-top">
            <div class="footer-content">
                <div class="row w-100">
                    <div class="col-3 footer-text">
                        <h3></h3>
                        <ul>
                            <li>Bui Tien Dai</li>
                            <li>buitiendai111@gmail.com</li>
                            <li>0397818201</li>
                        </ul>
                    </div>
                    <div class="col-6 footer-text">
                        <h3>Về chúng tôi</h3>
                        <ul>
                            <li>Ha Noi: Thị Trấn Trâu Quỳ,Gia Lâm,Hà Nội</li>
                            <li>
                            <li>Hotline: 024.6261.7578 | 024.6261.7520</li>
                        </ul>
                    </div>
                    <div class="col-3 footer-text pe-0">
                        <h3>Dịch vụ</h3>
                        <ul>
                            <li>24/7 hỗ trợ sinh viên</li>
                            <li>Hướng dẫn sử dụng trang</li>
                            <li>Điều khoản sử dụng trang</li>
                            <li>Email: vphv@vnua.edu.vn</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© Powered by <span>Vietnam National University of Agriculture</span></p>
        </div>
    </div>