<link rel="stylesheet" href="/css/sideBar.css">

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="sidebar">
    <h3>Menu</h3>
    <ul>
        <li><a href="{{link}}"><i class="fas fa-home"></i>Trang chủ</a></li>
        <li><a href="/admin/viewTrainer"><i class="fas fa-user"></i>Quản lý giảng viên</a></li>
        <li><a href="/admin/viewStaff"><i class="fas fa-address-card"></i>Quản lý nhân viên</a></li>
    </ul>
</div>