<link rel="stylesheet" href="/css/sideBar.css">

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="sidebar">
    <h3>Menu</h3>
    <ul>
        <li><a href="{{link}}"><i class="fas fa-home"></i>Trang chủ</a></li>
        <li><a href="/staff/viewStudent"><i class="fas fa-user"></i>Quản lý sinh viên</a></li>
        <li><a href="/staff/viewCourses"><i class="fas fa-address-card"></i>Quản lý môn học</a></li>
        <li><a href="/staff/viewCategory"><i class="fas fa-project-diagram"></i>Quản lý ngành học</a></li>
        <li><a href="/staff/viewSchedule"><i class="fas fa-blog"></i>Quản lý lịch học</a></li>
        <li><a href="/staff/viewSlot"><i class="fas fa-map-pin"></i>Quản lý ca học</a></li>
    </ul>
</div>