<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logos1.png" type="image/x-icon">
    <title>Hệ thống quản lý</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sideBar.css">
    <link rel="stylesheet" href="/css/styleLogin.css">
    <style>
        .body-right {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .body-right button {
            margin-bottom: 50px;
        }

        .body-right button a {
            font-size: 30px;
            color: black;
        }
    </style>
</head>

<body>
    {{> header}}
    <div class="body">
        <div class="row w-100">
            <div class="col">
                <img src="/images/thump1.jpg" alt="bg-body" style="width: 100%; height: 650px">
            </div>
            <div class="col body-right" style="padding-right: 0;">
                <div class="text-loginUser">
                    <p style="font-size: 45px;">Chào mừng bạn đến với</p>
                    <h2 style="font-size: 45px;">Trường Trung Học Phổ Thông Số 1 Lào Cai</h2>
                    <div class="line"></div>
                    
                    <button class="me-5 btn btn-success">
                        <a style="text-decoration: none" href="/admin/viewTrainer">Hệ thống quản lý</a><br>
                    </button><br>
                </div>
            </div>
        </div>
    </div>
    {{> footer }}
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>